- 
  const smallSlider = [
    {img: './assets/images/home/home-media/small-slider/Frame 482371.jpg',  
      link: 'https://robbreport.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482374.jpg',  
      link: 'https://www.cbs.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482377.jpg',  
      link: 'https://www.curbed.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482380.jpg',
      link: 'https://www.sun-sentinel.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482372.jpg',  
      link: 'https://www.builderonline.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482375.jpg',  
      link: 'https://www.wsj.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482378.jpg',  
      link: 'https://www.builderonline.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482381.jpg',
      link: 'https://therealdeal.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482373.jpg',  
      link: 'https://modernluxurymedia.com/international',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482376.jpg',  
      link: 'https://www.builderonline.com/',
    },
    {img: './assets/images/home/home-media/small-slider/Frame 482379.jpg',
      link: 'https://www.elnuevoherald.com/',
    },
  ];  
  const bigImages = [
    {
        "title": "Sabal Luxury Builder’s 1300 Brickell Bay Drive Project Wins Americas Property Award 2024-2025 In Los Angeles, CA.",
        "url": "https://www.citybiz.co/article/613365/sabal-luxury-builders-1300-brickell-bay-drive-project-wins-americas-property-award-2024-2025-in-los-angeles-ca/",
        "alt": "Sabal Luxury Builder’s 1300 Brickell Bay Drive Project Wins Americas Property Award 2024-2025 In Los Angeles, CA.",
        "imageUrl": "https://cdn.sanity.io/images/p41f4zna/production/f19b6ac916ad3d687d94203e4bf78b4048665065-400x300.png"
    },
    {
        "title": "SABAL DEVELOPMENT CLOSES ON WATERFRONT SPEC HOME LOT IN BOCA RATON FOR $5.75 MILLION",
        "url": "https://drive.google.com/file/d/15BJ3Xo6kqZ0FnDIAjv9oqcyGPNFKyVfJ/view?usp=sharing",
        "alt": "SABAL DEVELOPMENT CLOSES ON WATERFRONT SPEC HOME LOT IN BOCA RATON FOR $5.75 MILLION",
        "imageUrl": "https://cdn.sanity.io/images/p41f4zna/production/bc56bf8bd3728c9b3b59bfc0402e25da3f375615-1080x1080.jpg"
    },
    {
        "title": "Sabal Development Closes On $5.75M Boca Raton Lot With Plans Of Building High-End Luxury Home | 2024",
        "url": "https://drive.google.com/file/d/1fxNa-Q5M6YuGLJ7jSu7_rjd9k4CfUFDA/view?usp=sharing",
        "alt": "Sabal Development Closes On $5.75M Boca Raton Lot With Plans Of Building High-End Luxury Home | 2024",
        "imageUrl": "https://cdn.sanity.io/images/p41f4zna/production/ec938c732a50b93c3b943b0163ed1a4cd5194466-1080x1080.jpg"
    },
    {
        "title": "Venetian House resides on South Venetian Way, in Florida's Sunny Miami Beach | 2024",
        "url": "https://online.fliphtml5.com/nljyg/nnrl/#p=74",
        "alt": "Venetian House resides on South Venetian Way, in Florida's Sunny Miami Beach.",
        "imageUrl": "https://cdn.sanity.io/images/p41f4zna/production/64ce5210cef3d26cfcf04643bc977332ec5b2c5e-1080x1080.jpg"
    },
    {
        "title": "Sabal Development Lists Stunning $14.99 Million Miami, FL Penthouse in Brickell House Condo Building designed by TOGU Design and listed by Lourdes Alatriste of Douglas Elliman | 2024",
        "url": "https://drive.google.com/file/d/1EXbUJBjlAV9lzITHs52xAiYoOg-r9sJ2/view?usp=sharing",
        "alt": "Sabal Development Lists Stunning $14.99 Million Miami, FL Penthouse in Brickell House Condo Building designed by TOGU Design and listed by Lourdes Alatriste of Douglas Elliman | 2024",
        "imageUrl": "https://cdn.sanity.io/images/p41f4zna/production/f2cc30d11b85d4b80673ade5fd157e3a45a22b9f-600x505.jpg"
    },
    {
        "title": "Sabal Development Lists Stunning $14.99 Million Penthouse in Brickell | 2024",
        "url": "https://drive.google.com/file/d/1LvZPZ3NuMpei12Q1UVAISad7o7amYJlW/view?usp=sharing",
        "alt": "Sabal Development Lists Stunning $14.99 Million Penthouse in Brickell",
        "imageUrl": "https://cdn.sanity.io/images/p41f4zna/production/32b1c6ee21524fc56732387e3dc0426a06d3a7a9-600x505.png"
    }
  ];

.home-media
  .home-media__content
    .home-media__subtitle.text-style-1920-h-2.text-color-dark 
      span press coverage & media
      .home-media__nav
        <svg data-home-media-big-slider-prev width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="79.5" y="79.5" width="79" height="79" rx="39.5" transform="rotate(-180 79.5 79.5)" stroke="#1C1B20"/>
          <path d="M38.1011 30.4705L28.7796 39.9999M28.7796 39.9999L38.1011 49.5293M28.7796 39.9999C34.3035 39.9999 46.5249 39.9999 51.2201 39.9999" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
        </svg>
        <svg data-home-media-big-slider-next width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="0.500008" y="0.5" width="79" height="79" rx="39.5" stroke="#1C1B20"/>
          <path d="M41.8989 49.5295L51.2204 40.0001M51.2204 40.0001L41.8989 30.4707M51.2204 40.0001C45.6965 40.0001 33.4751 40.0001 28.7799 40.0001" stroke="#5D6357" stroke-width="2" stroke-linecap="round"/>
        </svg>
    .home-media__big-slider.swiper-container(data-home-media-big-slider)
      .swiper-wrapper
        each val in bigImages
          .swiper-slide
            a(href=val.url target='_blank').home-media__big-slide
              .home-media__big-slide-img-wrapper
                .home-media__big-slide-img
                  img(loading="lazy" src=val.imageUrl)
              .home-media__big-slide-text #{val.title}
    .home-media__slider
      .swiper-container(data-home-media-slider)
        .swiper-wrapper
          each val in smallSlider
            .swiper-slide
              a(href=val.link target='_blank').home-media__item
                img(loading="lazy" src=val.img alt="")