
-
  var slides = [
    './assets/images/home/home-company-projects/image.jpg',
    './assets/images/home/home-company-projects/image-1.jpg',
    './assets/images/home/home-company-projects/image-2.jpg',
    './assets/images/home/home-company-projects/image-3.jpg',
    './assets/images/home/home-company-projects/image-4.jpg',
    './assets/images/home/home-company-projects/image-5.jpg',
  ];
  var projects = [
    {
        title: '4040 KIAORA ST. COCONUT GROVE, FL',
        area: '36,695',
        bedrooms: '5',
        bathrooms: '7',
        garageSpaces: '3',
        img: './assets/images/home/home-company-projects/new-projects/image.jpg',
        link: '/projects'
    },
    {
        title: '5440 LA GORCE DR. MIAMI BEACH, FL',
        area: '12,100',
        bedrooms: '4',
        bathrooms: '6',
        garageSpaces: '3',
        img: './assets/images/home/home-company-projects/new-projects/image-3.jpg',
        link: '/projects'
    },
    {
        title: 'HENDRY COUNTY, FL',
        area: '8,492',
        bedrooms: '5',
        bathrooms: '5',
        garageSpaces: '3',
        img: './assets/images/home/home-company-projects/new-projects/image-1.jpg',
        link: '/projects'
    },
    {
        title: '79 N HIBISCUS DR. MIAMI BEACH, FL',
        area: '10,454',
        bedrooms: '5',
        bathrooms: '5',
        garageSpaces: '2',
        img: './assets/images/home/home-company-projects/new-projects/image-3.jpg',
        link: '/projects'
    }
  ]

.home-company-projects
  .home-company-projects__content
    .home-company-projects__title.text-style-1920-h-2 company’s projects
    each val in projects
      .project-detailed-card
        .project-detailed-card__top
          .project-detailed-card__title #{val.title}
          .project-detailed-card__subtitle #{val.area} sqft
        .project-detailed-card__img
          img(loading="lazy" src=val.img alt="")
        .project-detailed-card__description
          .project-detailed-card__description-item
            .project-detailed-card__description-item-value #{val.bedrooms} 
            .project-detailed-card__description-item-text beds
          .project-detailed-card__description-item
            .project-detailed-card__description-item-value #{val.bathrooms} 
            .project-detailed-card__description-item-text baths
          .project-detailed-card__description-item
            .project-detailed-card__description-item-value #{val.garageSpaces} 
            .project-detailed-card__description-item-text garage spaces
          <a class="button-30 button-30--body project-detailed-card__button" href="/single-project">
            <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect width="44" height="44" rx="22" fill="#1C1B20" />
              <path d="M29 22.998H23V28.998H21V22.998H15V20.998H21V14.998H23V20.998H29V22.998Z" fill="white" />
            </svg>
            <span>Explore project</span>
          </a>
    <a class="button-30 button-30--body project-detailed-card__button" href="/projects">
      <span>View more projects</span>
    </a>